#!/bin/bash
# Create new schema in gismentors db

create_schema() {
    if [ ! -z `sudo -u postgres psql -lqt | cut -d \| -f 1 | grep -w $1` ]; then
        echo "CREATE SCHEMA $GISLAB_USER AUTHORIZATION $GISLAB_USER" | \
            sudo -u postgres psql $1
    fi
}

# workaround - could not change directory to "/mnt/home/gislab"
cd /tmp

users=`sudo gislab-listusers -g gismentors | grep 'uid:' | cut -d':' -f2`
if [[ $users =~ $GISLAB_USER ]]; then 
    create_schema gismentors
fi
