#!/bin/bash
# Drop user schema from gismentors db

drop_schema() {
    if [ ! -z `sudo -u postgres psql -lqt | cut -d \| -f 1 | grep -w $1` ]; then
        sudo -u postgres psql $1 -c"drop schema $GISLAB_USER cascade"
    fi
}

# workaround - could not change directory to "/mnt/home/gislab"
cd /tmp

users=`sudo gislab-listusers -g gismentors | grep 'uid:' | cut -d':' -f2`
if [[ $users =~ $GISLAB_USER ]]; then 
    drop_schema gismentors
fi

exit 0
